:javascript
  bkLib.onDomLoaded(function() {
    new nicEditor({iconsPath : '/images/nicEditorIcons.gif'}).panelInstance('brief');
    new nicEditor({iconsPath : '/images/nicEditorIcons.gif'}).panelInstance('content');
  });

= form_for(@article, :html=> {:multipart => true}) do |f| 
  - if @article.errors.any? 
    #error
      %b 
        При создании новости возникли ошибки
      %ul
        - @article.errors.full_messages.each do |msg| 
          %li= msg

  .field
    %div Заголовок новости 
    = f.text_field :title 
  
  .field
    %div Краское описание новости
    = f.text_area :brief, :id => "brief" 
  
  .field
    %div Полное описание новости
    = f.text_area :content, :id => "content"
  
  .field
    %div Картинка к новости
    = f.file_field :image
    
  .field   
    %div Тип новости
    = f.select(:type, [["Железо", "Железо"], ["Софт", "Софт"]])

  .actions 
    = f.submit("Готово!") 
