:javascript
  bkLib.onDomLoaded(function() {
    new nicEditor({iconsPath : '/images/nicEditorIcons2.gif',uploadURI : '/upload_img' }).panelInstance('brief');
    new nicEditor({iconsPath : '/images/nicEditorIcons2.gif'}).panelInstance('content');
  });

= form_for(@article, :html=> {:multipart => true}) do |f| 
  - if @article.errors.any? 
    #error
      %b
        %p
          .error_msg
            При создании новости возникли ошибки
  .field
    %div Заголовок новости
    .error_msg
      = @article.errors[:title]
    = f.text_field :title 
  
  .field
    %div Краткое описание новости
    .error_msg
      = @article.errors[:brief]
    = f.text_area :brief, :id => "brief" 
  
  .field
    %div Полное описание новости
    .error_msg
      = @article.errors[:content]
    = f.text_area :content, :id => "content"
  
  .field
    %div Картинка к новости
    = f.file_field :image
    
  .field   
    %div Тип новости
    = f.select(:article_type, [["Железо", "Железо"], ["Софт", "Софт"], ["Новости компании", "Новости компании"]])

  .actions 
    = f.submit("Готово!") 
