%h3 Список новостей

%table
  %tr
    %th Title
    %th Brief
    %th Image
    %th Type
    %th
    %th
    %th

- @articles.each do |article| 
  %tr
    %td 
      = article.title
    %td 
      = article.brief 
    %td 
      = image_tag("/uploads/" + article.image)
    %td 
      = article.type 
    %td 
      = link_to 'Show', article 
    %td 
      = link_to 'Edit', edit_article_path(article) 
    %td 
      = link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete 

%br/

= link_to 'Создать новость', new_article_path
