#notice
  = notice 
%h3
  = @article.title
%div
  = raw @article.content
.padding10
= image_tag ("/uploads/" + @article.image) unless @article.image.nil?
.date
  - I18n.locale = :ru
  = I18n.l @article.created_at.to_date, :format => :long

#namba-comments
%script{:type => "text/javascript",
        :src  => "http://api.namba.kg/nb.js.php"}
%script(type="text/javascript")
  NB.insert("comments", "namba-comments", {component: "brandkg", componentId: #{@article.id}}); 
      
- if is_admin
  .admin
    = link_to 'Редактировать новость', edit_article_path(@article)  
    = link_to 'Удалить', @article, :confirm => 'Вы уверены?', :method => :delete
.padding10
= link_to 'Все новости', articles_path
