#notice
  = notice 
%h3
  = @article.title
%div
  = raw @article.content
.padding10
= image_tag ("/uploads/" + @article.image) unless @article.image.nil?

.admin
  = link_to 'Редактировать новость', edit_article_path(@article)  
  = link_to 'Удалить', @article, :confirm => 'Вы уыерены?', :method => :delete

= link_to 'Все новости', articles_path
