#notice
  = notice 
%h3
  = @article.title
%div
  = raw @article.content
.padding10
= image_tag ("/uploads/" + @article.image) unless @article.image.nil?
.date= @article.created_at.strftime('%d-%b %H:%M')
- if is_admin
  .admin
    = link_to 'Редактировать новость', edit_article_path(@article)  
    = link_to 'Удалить', @article, :confirm => 'Вы уыерены?', :method => :delete
.padding10
= link_to 'Все новости', articles_path
