= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = t 'errors.template.header', :model => t('.user'), :count => @user.errors.count
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    %div Логин
    = f.text_field :login

  .field
    %div Пароль
    = f.text_field :password

  .field
    %div Имя фамилия
    = f.text_field :name

  .field
    %div Роль
    = f.text_field :role

  .field
    %div Email
    = f.text_field :email

  .actions
    = f.submit :value => "Сохранить"
