= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %p
        %b
          .error_msg
            При создании пользователя возникли ошибки
  .field
    %div Логин
    .error_msg
      = @user.errors[:login]
    = f.text_field :login

  - if @user.id != session[:user].id
    .field
      %div Пароль
      .error_msg
        = @user.errors[:password]
      = f.text_field :password

  .field
    %div Имя фамилия
    .error_msg
      = @user.errors[:name]
    = f.text_field :name
  
  - if session[:user].id != @user.id
    .field
      %div Роль
      = f.select(:role, [["Пользователь", "user"], ["Администратор", "admin"]])
  
  .field
    %div Email
    .error_msg
      = @user.errors[:email]
    = f.text_field :email

  .actions
  = f.submit :value => "Сохранить"
  %p
  -if session[:user].id == @user.id
    = link_to 'Изменить пароль', 'edit_password'
