= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %b
        При создании пользователя возникли ошибки
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    %div Логин
    = f.text_field :login

  .field
    %div Пароль
    = f.text_field :password

  .field
    %div Имя фамилия
    = f.text_field :name
  
  - if session[:user].id != @user.id
    .field
      %div Роль
      = f.select(:role, [["Пользователь", "user"], ["Администратор", "admin"]])
  
  .field
  %div Email
  = f.text_field :email

  .actions
  = f.submit :value => "Сохранить"
