%h3 
  Пользователь 
  =@user.name

.user
  %div= @user.login
  %div= @user.name
  %div= @user.role
  %div= @user.email
.padding10  
.admin
  = link_to "Редактировать пользователя", edit_user_path(@user)

-if @user.role == "admin"
  = link_to "Все пользователи", users_path

