.news_title
  %h3 Новости
.news_categories_link
  .red_link
    = link_to "Железо", {:controller => "articles", :action => "index", :article_type => "Железо"}
  .green_link
    = link_to "Софт", {:controller => "articles", :action => "index", :article_type => "Софт"}
  .orange_link  
    = link_to "Новости компании", {:controller => "articles", :action => "index", :article_type => "Новости компании"}
.clear_left
= render "admin_links"
.news 
  = render :partial => "articles/brief_article", :collection => @articles

%h3 Новости кратко

= render :partial => "articles/short_article", :collection => @short_articles 
