%h3 Новости

.admin
  = link_to t('Редактировать новости'), articles_path
  %span &nbsp;|&nbsp;
  = link_to t('Создать новость'), new_article_path
  %span &nbsp;|&nbsp;
  = link_to t('Пользователи'), users_path

.news 
  = render :partial => "articles/brief_article", :collection => @articles

%h3 Новости кратко

= render :partial => "articles/short_article", :collection => @short_articles 
