.last_common_price_link
  - if @common_price.first
    = link_to "Скачать последний прайс", @common_price.first.common_price.url
.news_title
  %h3 Новости
.news_categories_link
  .red_link
    = link_to "Новости hardware", {:controller => "articles", :action => "index", :article_type => "Железо"}
  .green_link
    = link_to "Новости software", {:controller => "articles", :action => "index", :article_type => "Софт"}
  .orange_link  
    = link_to "Новости компании", {:controller => "articles", :action => "index", :article_type => "Новости компании"}
.clear_left
= render "admin_links"
.news 
  = render :partial => "articles/short_article", :collection => @articles
