:javascript
  bkLib.onDomLoaded(function() {
    new nicEditor({iconsPath : '/images/nicEditorIcons.gif'}).panelInstance('content');
  });

= form_for(@event) do |f|
  - if @event.errors.any?
    #error
      %b
        %p
          .error_msg
            При создании акции возникли ошибки

  .field    
    %div Название акции
    .error_msg
      = @event.errors[:title]
    = f.text_field :title
  
  .field
    %div Текст акции
    .error_msg
      = @event.errors[:content]
    = f.text_area :content, :id => "content"

  .actions
    = f.submit :value => "Сохранить"
