:javascript
  bkLib.onDomLoaded(function() {
    new nicEditor({iconsPath : '/images/nicEditorIcons.gif'}).panelInstance('content');
  });

= form_for(@event) do |f|
  - if @event.errors.any?
    #error
      %b
        При создании акции возникли ошибки
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    %div Название акции
    = f.text_field :title
  
  .field
    %div Текст акции
    = f.text_area :content, :id => "content"

  .actions
    = f.submit :value => "Сохранить"
