- @product.each() do |row|
  %h3
    = row["NAME"]
.img_container
  - if !@image_link.nil?
    - @image_link.each() do |row|
      %img{:src => @file_source}

#description_link
  <a href=#>Описание</a>

#properties_link
  <a href=#>Характеристики</a>

#description_block      
  - @product.each() do |row|
    = simple_format(raw(row["DETAIL_TEXT"]))
    - @product_row_name = row["NAME"]

#properties_block
  %table
    %tbody
      - @properties.each() do |row|    
        %tr
          %td
            = row["NAME"]
          %td
            = row["VALUE"] 

.search
  .yandex 
    = link_to "Посмотреть информацию о товаре в Яндексе", "http://yandex.ru/yandsearch?text=" +@product_row_name
  .google 
    = link_to "Посмотреть информацию о товаре в Google", "http://www.google.ru/search?ie=UTF-8&hl=ru&q=" + @product_row_name
            
