
%html
%head
  %title BRAND Company
  = stylesheet_link_tag :all
  = javascript_include_tag "jquery.js", "rails.js", "application.js", "nicEdit.js" 
  = csrf_meta_tag 
%body
  .main
    
    .head
      .logo BRAND Company
      .address 
        г. Бишкек, ул. Огонбаева 93
        .map
          =link_to "Карта проезда", "/map/index"
      .clear  
    .prod_link
      = link_to 'Наша продукция', '/product/categories'      
      -if !@category_link.nil?
        - @category_link.each() do |row|
          = link_to row["NAME"], '/product/product_list/' + row["ID"].to_s
        
    .menu
    
    .middle 
      .content
        = yield 
      .sidebar
        .for_dealers
          - if session[:user].nil?
            %h3 Вход для дилеров 
            %form{:action => "/auth/login", :method => "post"}
              .login_caption Логин
              .login_input 
                %input{:type=>"text", :name=>"login"}
              .pass_caption Пароль
              .pass_input 
                %input{:type=>"password", :name=>"password"}
              .submit 
                %input{:type=>"submit", :value=>"Войти"}
          - else
            %h3 
              Здравствуйте, 
              = session[:user].name
            %p=link_to "Редактировать профиль","/users/#{session[:user].id}"
            
            =link_to "Выйти", "/auth/logout"
        .events
          - get_current_event
          - if @current_event.nil?
            -if is_admin
              .admin= link_to "Создать акцию", new_event_path
          - else  
            %h3= @current_event.title 
            %div= raw @current_event.content 
            .padding10
            = link_to "Все акции", events_path
      .clear  
    
    .bottom
      %a{:href => "mailto:brand.qwerty@gmai.com"} brand.qwerty@gmail.com
      .phones (+996 312) 901496 901497 901498
